<h2>Prices</h2>
<hr>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Change</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>AAPL</td>
            <td>$94.31</td>
            <td>-3.9%</td>
        </tr>
        <tr>
            <td>TSLA</td>
            <td>$104.65</td>
            <td>+4.3%</td>
        </tr>
        <tr>
            <td>MSFT</td>
            <td>$94.31</td>
            <td>-6.9%</td>
        </tr>
        <tr>
            <td>GOOG</td>
            <td>$194.41</td>
            <td>-1.4%</td>
        </tr>
    </tbody>
</table>

<style>
    table {
        padding: 1em;
        background-color: #242424;
        width: 50%;
        margin: auto;
    }

    thead tr {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    tbody tr {
        display: flex;
        align-items: center;
        justify-content: space-evenly;    
    }
</style>